@mixin absolute($top, $right, $bottom, $left) {
  position: absolute;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

@mixin border($px, $style, $color) {
  border: $px $style $color;
}

@mixin wh($width, $height) {
  width: $width;
  height: $height;
}